
CodeWars/bin/Debug/netcoreapp3.1/

CodeWars/obj/Debug/netcoreapp3.1/

FSharpKatas/bin/Debug/net5.0/cs/

FSharpKatas/bin/Debug/net5.0/de/

FSharpKatas/bin/Debug/net5.0/es/

FSharpKatas/bin/Debug/net5.0/

FSharpKatas/obj/Debug/net5.0/

FSharpKatas/obj/

FSharpKatas/.vs/

CodeWars/obj/
